<div class="w-full h-full flex flex-col items-center overflow-y-hidden">
  <%= image_tag "home-bg.png", alt: "Home Banner", class: "w-full h-full absolute top-2" %>
  <%= link_to "Click To Order", menu_path, class: "max-w-[320px] text-[32px] px-[47px] py-[15px] border border-8 border-black rounded-[29px] absolute bottom-8 bg-[#E3C2A6] text-[#6D3F30] font-irish-grover"%>
</div>